.brdOrange {
    border-top: solid 1px #f26722;
    border-bottom: solid 1px #f26722;
    padding: 15px 0;
}

h2 {
    margin: 0;
    padding: 0;
}

.btnOverride {
    background-color: #4e5a60;
}

.cartWrapper {
    padding: 1em 0;
    width: 100%;
}

.cartWrap {
    background-color: white;
}

.itemImg {
    width: 6rem;
    float: left;
    margin-right: 5px;
    margin-bottom: 1rem;
}

.items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding 1.5em;
    border-bottom: solid 1px #f26722;
    margin-bottom: 1rem;
}

.infoWrap {
    display: table;
    width: 100%;
}

.cartSection {
    display: table-cell;
    vertical-align: middle;
}

.itemSku {
    font-size: .75rem;
    color: #777;
    margin: 0;
    padding: 0;
}

.itemSku p {
    margin: 0;
    padding: 0;
}

.itemSku:before {
    content: '#';
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing:  .025rem;
    margin: 0;
    padding: 0;
}

p {
    display: inline-block;
    font-size: .85rem;
}

.qty {
    font-weight: 600;
}

input.qty {
    text-align: center;
    width: 3rem;
    font-size: 1rem;
}

.stockStatus {
    margin-left: 10px;
    background-color: #f26722;
    padding: .25rem;
    color: white;
    font-weight:  600;
}

a.remove {
    text-decoration: none;
    font-weight: 600;
    font-size: .5rem;
    border: solid 1px #f26722;
    background-color: #f26722;
    padding: .25rem;
    border-radius: 100%;
    color: white;
}
