body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.noPad {
    padding: 0;
    margin: 0;
}

.orangeP {
    color: #f26722;
    font-weight: 500;
}

.bigMargTop {
    margin-top: 60px;
}

.overflow {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
}

.underline {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
    background-color: #f26722;
    height: 2px;
    margin-top: -5px;
}

.underline2 {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 220px;
    background-color: #f26722;
    height: 2px;
    margin-top: -5px;
}

.underline3 {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 140px;
    background-color: #f26722;
    height: 2px;
    margin-top: -5px;
}

.filler {
    height: 40px;
    background-image: 
        linear-gradient(
          to right,
          #4d5a60 75%,
          #f26722 5%,
          #4d5a60 20%  
    );
}

.active a{
    background-color: #f26722 !important;
    color: white !important;
}

.nav-tabs .nav-link{
    border: solid 1px #d9dde0;
    margin-right: 2px;
    background-color:  #d9dde0;
    border-radius:  0;
    font-weight: 600;
    color: #4d5a60;
}

.dropdown-toggle  {
    background-color: #d9dde0 !important;
}

.dropdown-menu {
    background-color: #f26722;
}

.dropdown-menu a {
    font-weight: 600;
}

.dropdown-divider {
    color: black !important;
}

.headerPhone h6 {
    color: #212121 !important;
}

.headerPhone a {
    color: #f26722;
}

.cart {
    color: #f26722;
    font-weight: 600;
}

.cartWrap {
    background-color: #d9dde0;
    padding-left: 5px;
    padding-right: 5px;
}

.cartIcon {
    font-size: 2rem;
    margin: 0;
    color: #f26722;
    width: 40px;
}

.cartCount {
    font-weight: 600;
}

.clearLink {
    color: black;
}

.clearLink:hover{
    text-decoration:  none;
    color: #f26722;
}


.btnUpdate {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height:  1.5;
    border: none;
    background-color: #f26722;
    color: white;
    box-shadow: 0 0 10px #f26722;
}

.dropdown-item:hover {
    background-color: white !important;
    color: black !important;
}

.uppercase {
    text-transform: uppercase;
}

#footer {
   background-color: #4d5a60;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

#footer a p {
    margin: 0;
    padding: 0;
}

#footer a {
    color: white;
}

#footer ul {
    list-style-type: none;
}