h3 {
    margin-top: 20px;
}

.filler {
    padding: 10px 0;
}

.ddDark {
    color: #4d5a60;
    font-weight: 600;
}

.white {
    color: white;
}

#smallMenu{
    width: 50px !important;
    min-width: 50px !important;
}

.smallItem {
    padding: 0 !important;
    text-align: center;
    color: white;
}

.stock {
    border: solid 1px #4d5a60;
    background-color: #4d5a60;
    color: white;
    margin: auto;
    padding: 5px;
    width: 80% !important;
    font-weight: 500;
}

.tiles {
    margin: 0;
    padding: 0;
}

.centerIt {
    margin: auto;
}

.btnCart {
    background-color: #f26722;
    border: solid 2px #f26722;
    margin-bottom: 15px;
    margin-top: 10px;
    box-shadow: 0 0 5px #4d5a60;
    color: white;
    font-weight: 600;
}

.page-item a {
    color: #4d5a60;
}

.btnPageWords  a{
    color: white;
    background-color: #4d5a60;
}

.btnPageSym  a {
    background-color: #f26722;
    color: white;
}

.clearBtn {
    border: 0;
}

.clearBtn:focus {
    border: 0;
}

.ddContainer {
    padding-right: 10px;
}

.ddMenu {
    float: right;
}

.circle {
    font-weight: 600;
    margin-left: 5px;
}


