.brdOrange {
    border-top: solid 1px #d9dde0;
    border-bottom: solid 1px #d9dde0;
    padding: 15px 0;
}

h2 {
    color: #4e5a60;
}

.itemSku {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: .75rem;
}

.itemSku:before {
    content: '#';
}

h5 {
    margin: 0;
    padding: 0;
    color: #4e5a60;
    text-transform: uppercase;
    font-size: 1rem;
}

label {
    font-size: .85rem !important;
    color: #4e5a60;
    font-weight: 400;
}

.qty {
    width: 4rem !important;
    font-size: .85rem;
    font-weight:  600;
    color: #4e5a60;
}

.btnLink {
    color: #f26722;
    font-weight: 600;
    font-size: .85rem;
}

.btnLink:hover {
    text-decoration: none;
    color: #4e5a60;
}

.fa-trash {
    color: #f26722;
}

.fa-trash:hover {
    color: #4e5a60;
}

.remove {
    margin-top: 6px;
}

.inStock {
    background-color: #f26722;
    color: white;
    width: 216px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    padding: .5rem;
}

.largeMarg {
    margin-top: 10%;
}

.form-control:focus {
    border-color: #f26722;
    box-shadow:  0 1px 1px #f26722 inset, 0 0 8px #f26722;
}

.brdBottom {
    padding-bottom: 20px !important;
    border-bottom:solid 1px #d9dde0;
}

#footer {
    margin-top: 10px;
}